@import url("https://fonts.googleapis.com/css?family=PT+Mono");
body {
  background-color: black; }

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center; }
  #navbar #logo {
    width: 15vw; }
    #navbar #logo #logo-upper-layer h1 {
      text-align: left; }
    #navbar #logo #logo-lower-layer h1 {
      text-align: right; }
    #navbar #logo h1 {
      width: 100%;
      color: white;
      font-family: 'PT Mono', monospace;
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 0; }
      #navbar #logo h1 b {
        color: orange; }
  #navbar ul {
    margin-left: 2rem; }
    #navbar ul li {
      display: inline-block;
      margin-right: 3.5rem; }
      #navbar ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem; }
